* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(211, 192, 168);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.pr{
    margin: auto;
    width: 1200px;
}
.header {
    background-color: rgb(52, 49, 49);
    color: white;
    text-align: center;
    height: 50px;    
}
.header h1 {
    padding-top: 5px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: start;
    margin-top: 22px;
    margin-bottom: 33px;
    gap: 0px;
}
.card {
    background: rgba(219, 216, 216, 0.845);
    border-radius: 8px;
    position: relative;
    box-shadow: 0 2px 4px rgb(64, 60, 60);
    text-align: center;
    min-height: 300px;
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 20px;
    transition: transform 2s ease, box-shadow 0 2px 4px rgb(98, 94, 94);
    animation: fadein 1.5s ease;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgb(52, 51, 51);
}
@keyframes fadein {
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
    
}
.badge{
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: orange;
    border-radius: 15px;
    transition: transform 0.3s ease;
    animation: pulse 2s infinite ease-in-out;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 8px;
    color: white;
}
@keyframes pulse {
    0%,100%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
.img{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    animation: float 2s infinite ease-in-out;
}
@keyframes float {
    0%,100%{
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
}
h3{
    margin-bottom: 20px;
}
.card p {
    color: rgb(160, 156, 156);
    line-height: 18px;
    font-size: 15px;
    margin-bottom: 20px;
}
.price {
    color: rgb(92, 92, 216);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.btn {
    width: 100%;
    background: rgb(49, 49, 151);
    border-radius: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
    color: white;
}
.btn:hover{
    background: rgb(7, 7, 87);
    transform: scale(1.05);
}
.btn:active{
    transform: scale(0.95);
}
.table{
    background: white;
    margin-bottom: 30px;
    width: 93%;
    min-height: 180px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.tablewrap{
    overflow-x: auto;
    overflow-y: hidden;
}
.table thead{
    background-color: blue;
    color: white;
    width: 100%;
}
.table th,td{
    padding: 10px;
}
.table td{
    border-top: 1px solid rgb(206, 199, 199);
}
.table tr:hover{
    background: rgb(149, 141, 141);
}
.footer {
    background: rgb(62, 60, 60);
    color: white;
    text-align: center;
    font-size: small;
    padding: 8px;
}